.title  {
    font-size: 3rem;
    font-weight: bold;
}

.subtitle {
    font-size: 20px;
    color: black;
}

.card-login-form {
    width: 750px; 
    padding: 2000px;
    border-radius: 12px;
    background-color: #ffffff;
    
}

.card-body {
    font-size: 18px;
    padding: 20px;
}


.login-form .btn {
    font-size: 20px;
    padding: 12px;
}

.login-form .card-title {
    font-size: 30px;
    font-weight: bold;
}